.body{
    background-image: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url("img/539321.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.output {
    margin-top: 50px;
    padding: 30px 0 0 30px;
    height: 750px;
    float: right;
    background-color: #fff7f7;
    border-radius: 10px;
}

.username {
    color: darkgreen;
    font-size: 15px;
    font-weight: bold;
}

ul {
    list-style-type: disc;
    color: #28c928;
    font-size: 10px;
}

.p {
    font-size: 20px;
    color: #bedec3;
    cursor: pointer;
}

.textArea {
    border: 1px solid #828080;
    overflow: auto;
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.userPrivate {
    color: mediumseagreen;
    border-style: none;
    outline: none;
    font-size: 15px;
    width:87%;
    text-align: center;
    margin-top:5px;
}

input::placeholder {
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    padding-left:5px;
}

input{
    width: 100%;
    border-radius: 10px;
    outline: none;
    padding-left:5px;
}

.scroll::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

.scroll::-webkit-scrollbar-track {
    background: #bfbfbe; /* color of the tracking area */
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #3cb371; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #bfbfbe; /* creates padding around scroll thumb */
}

.textBreak {
    overflow-wrap: break-word;
    color:dimgrey;
    padding-left:5px;
}

.usersOnline {
    margin-top: 50px;
}
.logIn{
    background-color: rgba(0, 0, 0, .6);
    border-radius: 10px;
}
.privateChat{
    background-color: rgba(0, 0, 0, .4);
    border-radius: 10px;
}
.chatDiv{
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
}
.message{
    color:rebeccapurple;
    font-size: 15px;
    font-weight: bold;
}
.messageGeneral{
    color:dimgrey;
    font-size: 15px;
}


/*............... emojis ...............*/

.emojis {
    position: absolute;
    margin:20px 10px 0 0;
    padding: 25px 15px 10px 20px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0, 0, 0, .5);
}
.emojis>span{
    font-size:18px;
}

